
body{
    //background-color: white;
    background-image:  url("../img/w4.png");
    background-color: white;
    
    
    
    
}



#navbar{
    
    background-color:#D54840;
    opacity: 0.7;
}

#navbar a{
    background-color:transparent ;
} 
#navbar a:link{
    color: black;
}
#navbar a:visited{
    color:grey;
}

#brand{
    color:darkcyan;
    background-color: transparent;
}
#navbar a:hover{
    color:lightgray;
    background-color: #363234;//darkcyan;
}
#navbar a:active{
    color:yellow;
}

#banner{
    background-color: transparent;
    //background-color: transparent;
    opacity: 0.8;
    color: black;
}

#mediacontainer{
    background-color: whitesmoke;
    //opacity: 0.7;
    //background-color: rgba(0, 0, 0, .6);
}




//#img1{
  //  opacity: 0.6;
//}

//#img1:hover{
  //  opacity: 1;
//}
#video1{
    opacity: 0.7;
}
#video1:hover{
    opacity: 1;
}

#imgtable{
    background: black;
}

.imgwrap {
 
}

.imgdescription {
  background: rgba(256, 256, 256, 0.5);;
}


.imgwrap:hover .imgdescription {
 opacity: 1;
}

#slideshow{
    background: whitesmoke;
}

#caption_slideshow.center
{ 
  background-color:darkgrey;
}

#title_slideshow
{   
    background-color:darkgrey;
}



#mapcontainer{
    background-color:#141414;
    opacity: 0.9;
    border-collapse: collapse;
    border-color: #D54840;
    border-style: solid;
}

#logo{
    border-collapse: collapse;
    border-color: #D54840;
    border-style: solid;
}

#contactlist ul li a:link{
    color: whitesmoke;
}

#contactlist ul li a:hover{
    color:bisque;
}








