
body{
    //background-color: white;
    background-image:  url("../img/tree.png");
    background-color: black;
    
    
    
    
}



#navbar{
    
    background-color:black;
    opacity: 0.5;
}

#navbar a{
    background-color:transparent ;
} 
#navbar a:link{
    color: white;
}
#navbar a:visited{
    color:grey;
}

#brand{
    color:darkcyan;
    background-color: transparent;
}
#navbar a:hover{
    color:lightgray;
    background-color: #682425;//darkcyan;
}
#navbar a:active{
    color:yellow;
}

#banner{
    background-color: black;
    opacity: 0.4;
    color: whitesmoke;
}

#mediacontainer{
    background-color: black;;
    //opacity: 0.7;
    //background-color: rgba(0, 0, 0, .6);
}
//#img1{
  //  opacity: 0.6;
//}

//#img1:hover{
  //  opacity: 1;
//}
#video1{
    opacity: 0.7;
}
#video1:hover{
    opacity: 1;
}

#imgtable{
    background: black;
}

.imgwrap {
 
}

.imgdescription {
  background: rgba(256, 256, 256, 0.5);;
}


.imgwrap:hover .imgdescription {
 opacity: 1;
}

#slideshow{
    background: whitesmoke;
}

#caption_slideshow.center
{ 
  background-color:darkgrey;
}

#title_slideshow
{   
    background-color:darkgrey;
}








