
a:link{
    
    font-family: "myriad-pro-condensed",sans-serif;
    font-style: normal;
    font-size: 1em;
    //font-style: inherit;
    font-weight: 300;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

#bannertext{
    font-family: "myriad-pro-condensed",serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8em;
    
}

figcaption{
    color: white;
}

.imgwrap {
  
}

.imgdescription {
   color: black;
}


.imgwrap:hover .imgdescription {
 
}

#caption_slideshow.center
{ text-align: center;
  font-family: Georgia, Serif;
  font-size: 25px;
  color: white;
  
}

#title_slideshow
{
	font-family: Georgia, Serif;
	font-size: 40px;
        color: white;
	
}










