/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 2:52:09 PM
    Author     : Ali
*/
.root{
    background: yellow;
}

#contentarea{
    border-bottom-width: 5px;
    border-color: black;
}

#tabpane{
    border-bottom-width: 5px;
    border-color: black;
}
